button{
    color: #000000;
    height: 32px;
    border: 1px solid #8d9096;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    font-family: NotoSans-Regular;
    cursor: pointer;
    line-height: 32px;
    outline: none;
}

.btn-add{
    padding-right: 30px;
    padding-left: 30px;
    background-color: #2ca01c;
    color: #fff;
    border: none;
    height: 36px;
    font-weight: 600;
    line-height: 12px;
}
.btn-add:hover{
    background-color: #35bf22;
    color: #fff;
}
.btn-yes{
    padding: 8px 20px;
}
.btn-No{
    height: 36px;
    width: 84px;
    border: 1px solid #8d9096;
    font-weight: 700;
    line-height: 12px;
}
.btn-No:hover{
    background-color: #d2d3d6;
}

.btn-btn {
    padding: 0 16px;
    border-radius: 30px;
    height: 36px;
    background-color: transparent;
    cursor: pointer;
}
.btn-btn-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    align-items: center;
}
.btn-edit {
    position: relative;
    display: flex;
    align-items: center;
}
.btn-filter {
    width: 23px;
    height: 23px;
    border: none;
}
.btn-add-row {
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 20px;
    border-color: #8d9096;
    border-radius: 2.5px;
}
.btn-add-row:hover{
    background-color: #d2d3d6;
}
.btn-add-row + .btn-add-row {
    margin-left: 10px;
}
.btn-common {
    border: 1px solid #6b6c72;
    color: #fff;
    background-color: transparent;
    position: relative;
    height: 34px;
    padding: 6px 20px;
}
.btn-common + .btn-common {
    margin-left: 5px;
}
.btn--success {
    background-color: #35bf22;
    border: none;
}
.btn-padding{
    padding: 8px 20px;
    line-height: 12px;
    height: 36px;
}
.reset{
    font-weight: 700;
}
.reset:hover{
    background-color: #d2d3d6;
}
.success{
    border: 1px solid transparent;
    color: #fff;
    background-color: #2ca01c;
    font-weight: 700;
}
.success:hover{
    background-color: #35bf22;
}
.add-line {
    border: 1px solid #c9ccd2;
}
.btn-save-add{
    height: 36px;
}