.icon{
    background: url("../../assets/Sprites.5f05e81f.svg") no-repeat;
    cursor: pointer;   
}
.icon-24{
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    width: 24px;
}
.icon-30{
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    width: 30px;
}
.icon-16{
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    width: 16px;
}
.icon-18{
    min-width: 18px;
    min-height: 18px;
    height: 18px;
    width: 18px;
}
.icon-48{
  min-width: 48px;
  min-height: 48px;
  height: 48px;
  width: 48px;
}
.category {
    background-position: -568px -30px;
}
.setting__nav {
    background-position: -675px -30px;
}
.chat__nav {
    background-position: -899px -30px;
}
.help__nav {
    background-position: -731px -30px;
}
.bell__nav {
    background-position: -788px -30px;
}
.arrow-up--black {
    background-position: -563px -355px;
}

.background{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow-up--black {
    background-position: -560px -359px;
  }
  .arrow-up--white {
    background-position: -848px -359px;
  }
  .chevron-left--primary {
    background-position: -224px -360px;
  }
  .refresh {
    background-position: -423px -201px;
  }
  .refresh:hover{
    background-position: -1097px -88px;
  }
  .excel__nav {
    background-position: -704px -200px;
  }
  .excel__nav:hover{
    background-position: -704px -256px;
  }
  .setting__list {
    background-position: -88px -200px;
  }
  .setting__list:hover{
    background-position: -88px -256px;
  }
  .arrow-up--blue {
    background-position: -896px -359px;
  }
  .arrow-dropdown {
    background-position: -560px -359px;
}
.three-stripes {
    background-position: -843px -30px;
}
.bell__nav {
    background-position: -788px -30px;
}
.category {
    background-position: -568px -30px;
}

.mi {
  background: url("../../assets/Sprites.5f05e81f.svg") no-repeat;
  cursor: pointer;
}

.mi-sidebar-dashboard {
  background-position: -30px -1628px;
}
.active .mi-sidebar-dashboard {
  background-position: -30px -1585px;
}

.mi-sidebar-cash {
  background-position: -73px -1628px;
}

.mi-sidebar-bank {
  background-position: -117px -1628px;
}

.mi-sidebar-pu {
  background-position: -161px -1628px;
}

.mi-sidebar-sale {
  background-position: -204px -1628px;
}

.mi-sidebar-invoice {
  background-position: -249px -1628px;
}

.mi-sidebar-stock {
  background-position: -291px -1628px;
}

.mi-sidebar-tools {
  background-position: -336px -1628px;
}

.mi-sidebar-fixed-assets {
  background-position: -378px -1630px;
}

.mi-sidebar-tax {
  background-position: -423px -1630px;
}

.mi-sidebar-price {
  background-position: -467px -1628px;
}

.mi-sidebar-general {
  background-position: -510px -1628px;
}

.mi-sidebar-budget {
  background-position: -378px -1659px;
}

.mi-sidebar-report {
  background-position: -547px -1628px;
}

.mi-sidebar-finance {
  background-position: -204px -1664px;
}

.mi-logo-option {
  background-position: -424px -86px;
  margin-right: 10px;
}

.help {
  background-position: -89px -144px;
}
.close {
  background-position: -144px -144px;
}
.mi-exclamation-question-48 {
  background-position: -826px -456px;
}
.mi-recent-log {
  background-position: -648px -144px;
}
.mi-setting__detail {
  background-position: -32px -144px;
}
.mi-help {
  background-position: -89px -144px;
}
.mi-close {
  background-position: -144px -144px;
}
.mi-delete {
  background-position: -464px -312px;
}
.mi-attach {
  background-position: -539px -203px;
  margin-right: 8px;
}
.mi-arrow-check-all {
  background-position: -256px -143px;
}
.mi-close--small {
  background-position: -80px -312px;
}
