input[type = "text"], input[type = "date"]{
    border: none;
    border-radius: 2px;
    height: 32px;
    color: #000000;
    padding: 6px 10px;
    /* padding-left: 16px;
    padding-right: 16px; */
    border: 1px solid #babec5;
    font-family: NotoSans-Regular;
    outline: none;
}
.input-search{
    background-image: url('../../assets/icon/search.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 175px;
    background-size: 16px;
    padding-right: 40px;
    width: 200px;
    flex-shrink: 0;
}
input:hover{
    border: 1px solid #babec5;
}
input:focus{
    border-color: #2ca01c;
    color: black;
    font-size: 13px;
}
.input-search2{
    background-image: url('../../assets/icon/search.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 214px;
    background-size: 16px;
    padding-right: 40px;
    width: 240px;
    flex-shrink: 0;
}
.input-search2::-webkit-input-placeholder{
    font-family: NotoSans-Regular-italic;
    font-size: 12px;
}
input[type="checkbox"]
{
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    background: white;
    outline: none;
    border: 1px solid #afafaf;
    border-radius: 2px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input:checked[type="checkbox"]
{
    border: 1px solid #2ca01c;
    transform: rotate(90deg);
}

input[type="checkbox"]::before
{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    /* background: url("../../assets/Sprites.64af8f61.svg"); */
    background: url("../../assets/Sprites.5f05e81f.svg");
    background-position: -1224px -360px;
    display: none;
}

input:checked[type="checkbox"]::before
{
    display: block;
    transform: rotate(-90deg);
}

input[type="radio"]{
    width: 18px;
    height: 18px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: white;
    border: 1px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input:checked[type="radio"]{
    border: 1px solid #2ca01c;
}

input[type="radio"]::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2ca01c;
    display: none;
}

input:checked[type="radio"]::before{
    display: block;
}
